/* BASIC STYLES HERE */
.bg-koolblue {
  background-color: #4cc9f0;
}

.bg-purplepink {
  background-color: #99d98c;
}

.imported-font {
  font-family: 'Bebas Neue', cursive;
font-family: 'Pacifico', cursive;
}